h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}
/* Гумова верстка для мобільних пристроїв */
@media only screen and (min-width: 320px) {
  /* Ваші стилі для мобільних пристроїв */
}

/* Адаптивна верстка з 375px */
@media only screen and (min-width: 375px) {
  /* Ваші стилі для адаптивної верстки на пристроях з шириною 375px і більше */
}

/* Точка перелому для планшетів */
@media only screen and (min-width: 768px) {
  /* Ваші стилі для планшетів */
}

/* Точка перелому для настільних пристроїв */
@media only screen and (min-width: 1440px) {
  /* Ваші стилі для настільних пристроїв */
}
.title-red {
  color: #ed3b44;
}
/* Basic styles */
body {
  font-family: Arial, sans-serif;
}

.portfolio-section {
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
